    <div class="gap gap-small"></div>
                    <h3 class="widget-title">Featured Deals</h3>
                    <div class="row" data-gutter="15">
                        <div class="col-md-6">
                            <div class="banner banner-o-hid" style="background-image:url(img/380x220.png);">
                                <a class="banner-link" href="#"></a>
                                <div class="banner-caption-left">
                                    <h5 class="banner-title">Discover The Mountains</h5>
                                    <p class="banner-desc">Pro Backpacks 70% Off.</p>
                                    <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
                                    </p>
                                </div>
                                <img class="banner-img" src="img/test_banner/16-i.png" alt="Image Alternative text" title="Image Title" style="bottom: -68px; right: -32px; width: 200px;" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner banner-o-hid" style="background-image:url(img/560x200.png);">
                                <a class="banner-link" href="#"></a>
                                <div class="banner-caption-left">
                                    <h5 class="banner-title">Smartphones Under $80</h5>
                                    <p class="banner-desc">Low Price for Great Perfomance</p>
                                    <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
                                    </p>
                                </div>
                                <img class="banner-img" src="img/test_banner/18-i.png" alt="Image Alternative text" title="Image Title" style="top: 17px; right: -45px; width: 350px;" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner banner-o-hid" style="background-image:url(img/380x200.png);">
                                <a class="banner-link" href="#"></a>
                                <div class="banner-caption-left">
                                    <h5 class="banner-title">Back to School</h5>
                                    <p class="banner-desc">Class is Almost in Session!</p>
                                    <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
                                    </p>
                                </div>
                                <img class="banner-img" src="img/test_banner/20-i.png" alt="Image Alternative text" title="Image Title" style="bottom: -20px; right: -60px; width: 240px;" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="banner banner-o-hid" style="background-image:url(img/420x210.png);">
                                <a class="banner-link" href="#"></a>
                                <div class="banner-caption-left">
                                    <h5 class="banner-title">Smart Watches</h5>
                                    <p class="banner-desc">Up to 50% off</p>
                                    <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>