
<div class="banner banner-o-hid banner-xl" style="background-image:url(img/660x500.png); height:490px;">
    <a class="banner-link" href="#"></a>
    <div class="banner-caption-left">
        <h5 class="banner-title">iPhone 6s</h5>
        <p class="banner-desc">Be First</p>
        <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
        </p>
    </div>
    <img class="banner-img" src="img/test_banner/27-i.png" alt="Image Alternative text" title="Image Title" style="bottom: -100px; right: 30px; width: 200px;" />
</div>

