
<div class="row">
    <div class="col-md-9">
        <!--Carousel de modelos de una categorias-->
        <h3 class="widget-title owl-carousel-modelos-title"></h3>
        <div class="owl-carousel-modelos"></div>
        <div class="gap gap-small"></div>


        <banner-advertising ></banner-advertising>  
        <div class="gap gap-small" ></div>

        <!--Carousel de Categorias-->
        <h3 class="widget-title">Categorias</h3>
        <div class="owl-carousel-banner"></div>
        <div class="gap gap-small" ></div>
    </div>
    <div class="col-md-3">
        <h3 class="widget-title">You May Like</h3>
        <ul class="product-list">
            <li>
                <div class="product product-sm-left ">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/500x500.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                    <a class="product-link" href="#"></a>
                    <div class="product-caption">
                        <ul class="product-caption-rating">
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="product-caption-title">Dooney & Bourke Pebble Grain Lexington</h5>
                        <div class="product-caption-price"><span class="product-caption-price-new">$142</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product product-sm-left ">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/500x500.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                    <a class="product-link" href="#"></a>
                    <div class="product-caption">
                        <ul class="product-caption-rating">
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="product-caption-title">Dooney & Bourke Chevron Large Slim Wristlet</h5>
                        <div class="product-caption-price"><span class="product-caption-price-new">$69</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product product-sm-left ">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/500x500.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                    <a class="product-link" href="#"></a>
                    <div class="product-caption">
                        <ul class="product-caption-rating">
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="product-caption-title">PUMA Faas 700 v2 Women's Running Shoes</h5>
                        <div class="product-caption-price"><span class="product-caption-price-old">$136</span><span class="product-caption-price-new">$55</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product product-sm-left ">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/500x500.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                    <a class="product-link" href="#"></a>
                    <div class="product-caption">
                        <ul class="product-caption-rating">
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="product-caption-title">Fitbit Flex Black w/ Teal Bands Activity & Sleep Tracker (Teal)</h5>
                        <div class="product-caption-price"><span class="product-caption-price-new">$145</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="gap gap-small"></div>
        <h3 class="widget-title">Now Trending</h3>
        <ul class="product-list">
            <li>
                <div class="product product-sm-left ">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/500x500.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                    <a class="product-link" href="#"></a>
                    <div class="product-caption">
                        <ul class="product-caption-rating">
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="product-caption-title">New Asus X551MAV 15.6" HD N2830 2.16GHz 4GB 500GB Windows 8 Laptop Notebook</h5>
                        <div class="product-caption-price"><span class="product-caption-price-old">$118</span><span class="product-caption-price-new">$107</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product product-sm-left ">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/500x500.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                    <a class="product-link" href="#"></a>
                    <div class="product-caption">
                        <ul class="product-caption-rating">
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="product-caption-title">Apple iPhone 5s 16GB Factory Unlocked Smartphone Space Gray / Silver / Gold</h5>
                        <div class="product-caption-price"><span class="product-caption-price-new">$55</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product product-sm-left ">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/500x500.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                    <a class="product-link" href="#"></a>
                    <div class="product-caption">
                        <ul class="product-caption-rating">
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="product-caption-title">Bulova Women's Dress 98V02 Silver Stainless-Steel Quartz Watch</h5>
                        <div class="product-caption-price"><span class="product-caption-price-old">$118</span><span class="product-caption-price-new">$83</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product product-sm-left ">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/500x500.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                    <a class="product-link" href="#"></a>
                    <div class="product-caption">
                        <ul class="product-caption-rating">
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="product-caption-title">Dooney & Bourke Claremont Dover</h5>
                        <div class="product-caption-price"><span class="product-caption-price-new">$142</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="gap gap-small"></div>
        <h3 class="widget-title">Popular Products</h3>
        <ul class="product-list">
            <li>
                <div class="product product-sm-left ">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/2100x2100.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                    <a class="product-link" href="#"></a>
                    <div class="product-caption">
                        <ul class="product-caption-rating">
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="product-caption-title">Easy Spirit Dobey Low Heel Wedges</h5>
                        <div class="product-caption-price"><span class="product-caption-price-new">$104</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product product-sm-left ">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/500x500.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                    <a class="product-link" href="#"></a>
                    <div class="product-caption">
                        <ul class="product-caption-rating">
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="product-caption-title">Military Shoulder Tactical Backpack Rucksacks Sport Travel Hiking Trekking Bag</h5>
                        <div class="product-caption-price"><span class="product-caption-price-old">$147</span><span class="product-caption-price-new">$103</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product product-sm-left ">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/500x500.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                    <a class="product-link" href="#"></a>
                    <div class="product-caption">
                        <ul class="product-caption-rating">
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="product-caption-title">Hamilton Beach 49996 FlexBrew Single-Serve Coffeemaker with Removable Reservoir</h5>
                        <div class="product-caption-price"><span class="product-caption-price-new">$86</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="product product-sm-left ">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                        <img class="product-img" src="img/500x500.png" alt="Image Alternative text" title="Image Title" />
                    </div>
                    <a class="product-link" href="#"></a>
                    <div class="product-caption">
                        <ul class="product-caption-rating">
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="product-caption-title">Mizuno Wave Universe 5 Women's Running Shoes Sneakers</h5>
                        <div class="product-caption-price"><span class="product-caption-price-new">$55</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

