
    <div class="product product-sm owl-item-slide">
        <div class="product-img-wrap">
            <img class="product-img" src="img/500x500.png" alt="Image Alternative text" title="Image Title" />
        </div>
        <a class="product-link" href="#"></a>
        <div class="product-caption">
            <ul class="product-caption-rating">
                <li class="rated"><i class="fa fa-star"></i>
                </li>
                <li class="rated"><i class="fa fa-star"></i>
                </li>
                <li class="rated"><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
            </ul>
            <h5 class="product-caption-title">{{desc}}</h5>
            <div class="product-caption-price"><span class="product-caption-price-new">$74</span>
            </div>
        </div>
    </div>
