                
                    <div class="row row-sm-gap">
                        <div class="col-md-12">
                            <div class="banner banner-o-hid banner-sm" style="background-image:url(img/550x292.png); height:156px;">
                                <a class="banner-link" href="#"></a>
                                <div class="banner-caption-left">
                                    <h5 class="banner-title">New Jeans Collection</h5>
                                    <p class="banner-desc">Exeedingly Good Jeans</p>
                                    <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
                                    </p>
                                </div>
                                <img class="banner-img" src="img/test_banner/21-i.png" alt="Image Alternative text" title="Image Title" style="bottom: -29px; right: -51px; width: 170px;" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="banner banner-o-hid banner-sm" style="background-image:url(img/280x160.png); height:156px;">
                                <a class="banner-link" href="#"></a>
                                <div class="banner-caption-left banner-caption-dark">
                                    <h5 class="banner-title">Running Shoes</h5>
                                    <p class="banner-desc">50% off</p>
                                    <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="banner banner-o-hid banner-sm" style="background-image:url(img/600x300.png); height:156px;">
                                <a class="banner-link" href="#"></a>
                                <div class="banner-caption-left">
                                    <h5 class="banner-title">Hot Snowboards</h5>
                                    <p class="banner-desc">Save on Winter Sports</p>
                                    <p class="banner-shop-now">Shop Now <i class="fa fa-caret-right"></i>
                                    </p>
                                </div>
                                <img class="banner-img" src="img/test_banner/24-i.png" alt="Image Alternative text" title="Image Title" style="top: -10px; right: -45px; width: 200px;" />
                            </div>
                        </div>
                    </div>
                