
<ul class="dropdown-menu dropdown-menu-category dropdown-menu-category-hold dropdown-menu-category-sm">
    <li ng-repeat="categoria in Categorias"><a href="#"><i class="fa fa-home dropdown-menu-category-icon"></i>{{categoria.desc}}</a>
        <div class="dropdown-menu-category-section">
            <div class="dropdown-menu-category-section-inner">
                <div class="dropdown-menu-category-section-content">
                    <div class="row">
                        <div class={{"col-md-"+12/categoria.Marcas.length}} ng-repeat="marca in categoria.Marcas">
                            <h5 class="dropdown-menu-category-title">{{marca.desc}} </h5>

                            <ul class="dropdown-menu-category-list">
                                <li ng-repeat="modelo in categoria.Marcas[0].Modelos"><a href="#">{{modelo.desc}}</a>
                                    <p>{{modelo.desc}}</p>
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <img class="dropdown-menu-category-section-theme-img" src="img/test_cat/2-i.png" alt="Image Alternative text" title="Image Title" style="right: -10px;" />
            </div>
        </div>
    </li>
</ul>